
#icon {
  height: 40vh;
  width: 40vh;
}

.animation {
	margin: auto;
	position: relative;
}

.animation img {
	width: 50%;
}

.animation .img1 {
	display: block;
	margin: 0 auto;
}

.animation .img2 {
	position: absolute;
	top: 0;
	left: 25%;
}

@keyframes animation {
	0% {
		opacity: 0;
	}

	12.5% {
		opacity: 0;
	}

	25.5% {
		opacity: 0;
	}
	37.5% {
		opacity: 0;
  }
  50% {
		opacity: 1;
  }
}
  .animation img {
    animation-name: animation;
    animation-duration: 7s;
    animation-iteration-count: 1;
  }

  .animation .img1 {
    animation-delay:5s;
  }
